{% extends "thegame/base.html" %}
{% block content %}

{% if questions %}
<div class="container-sm">
    <h2 class="ui header">{{ request.user }}'s Answers</h2>
</div>
<div class="container p-5 my-5">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for key, values in info.items %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    {% if values %}
                    {% for v in values %}
                        <p>{{ v.user }}: {{ v }}</p>
                    {% endfor %}
                    {% else %}
                    <form method="post" action="{% url 'save-answer' question_pk=key.pk %}" style="display: inline-block;">
                        <input type="text" name="answer" id="answer">
                        {% csrf_token %}
                        <button class="btn btn-outline-dark btn-sm">Submit</button>
                    </form>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% else %}
        <div class="container">
            <h2 class="ui sub-header">There are no questions yet</h2>
        </div>
    {% endif %}

{% endblock content %}