{% extends "thegame/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answers</title>
</head>

<body onload="addActiveCLass()">
<div class="container p-3 my-5 border">
    <h3><u>Room: {{ request.user.room_set.first }}</u></h3>
</div>

{% if questions %}
<div class="container p-5 my-5 border">
    <h3><u>{{ request.user }}'s Answers</u></h3>
    <br/>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for key, values in info.items %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    {% if values %}
                    {% for v in values %}
                        <p>{{ v.user }}: {{ v }}</p>
                    {% endfor %}
                    {% else %}
                    <form method="post" action="{% url 'save-answer' question_pk=key.pk %}" style="display: inline-block;">
                        <input type="text" name="answer" id="answer">
                        {% csrf_token %}
                        <button class="btn btn-outline-dark btn-sm">Submit</button>
                    </form>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% else %}
        <div class="container">
            <h2 class="ui sub-header">There are no questions yet</h2>
        </div>
    {% endif %}
</body>
<script>
function addActiveCLass() {
    var element = document.getElementById("answers");
    element.classList.add("active");
}
</script>
{% endblock content %}