random things to do:
error messages for:
    invalid password specifications
    entering a room that doesnt exist


                    <form method="post" action="{% url 'save_g_answer' question.pk answer %}" style="display: inline-block;">
                        <input type="text" name="answer" value="question.answer">
                        {% csrf_token %}
                        <button class=" ui button">Submit</button>
                    </form>


                    <form method="post" action="{% url 'save_g_answer' question.pk answer %}" style="display: inline-block;">
                        <input type="text" name="answer" value="" id="answer">
                        {% csrf_token %}
                        <button class=" ui button">Submit</button>
                    </form>


                    <div class="container p-5 my-5 text-center border">
                        <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="btn btn-outline-dark">Login</button>
                        </form>
                    </div>



                    **** Use this for signup page ****
                    <div class="container p-5 my-5 text-center border">
                        <form method="post">
                          <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password1">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password2">
                          </div>
                          <button type="submit" class="btn btn-outline-dark">Submit</button>
                            {% csrf_token %}
                        </form>
                    </div>

                    This came from new-question.
                    <form action="{% url 'new-question' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-outline-dark" value="Submit">
                    </form>

This came from answers.html
<form method="post" action="{% url 'save-answer' question_pk=question.pk %}" style="display: inline-block;">
    <input type="text" name="answer" id="answer">
    {% csrf_token %}
    <button class="btn btn-outline-dark btn-sm">Submit</button>
</form>