{% extends "thegame/base.html" %}
{% block content %}
<br>


{% if questions %}
<div class="container">
    <h2 class="ui header">Kelsy's Answers</h2>
</div>
<div class="container p-5 my-5">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question }}</td>
                <td>
                    {% if question.kelsyanswer %}
                    {{ question.kelsyanswer }}
                    {% else %}
                    <form method="post" action="{% url 'save_answer' question_pk=question.pk person='Kelsy' %}" style="display: inline-block;">
                        <input type="text" name="answer" id="answer">
                        {% csrf_token %}
                        <button class="btn btn-outline-dark">Submit</button>
                    </form>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% else %}
    <h2 class="ui header">Your questions
        <div class="sub header">There are no questions yet</div>
    </h2>
    {% endif %}

{% endblock content %}