{% extends "thegame/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body onload="addActiveCLass()">

<div class="container p-3 my-5 border">
    <h3>Room: {{ request.user.room_set.first }}</h3>
</div>

<div class="container p-3 my-5 border">
<form action="{% url 'save-question' %}" method="post">
    {% csrf_token %}
    <input type="text" name="question">
    <input type="submit" class="btn btn-outline-dark btn-sm" value="Submit">
</form>
</div>
<br><br>
<div class="container">
    {% if questions %}
        {% for question in questions %}
                <p>{{ question }}</p>
        {% endfor %}
    {% else %}
        <p>No questions in this room.</p>
    {% endif %}

</div>

</body>
</html>
<script>
function addActiveCLass() {
    var element = document.getElementById("new-question");
    element.classList.add("active");
}
</script>
{% endblock content %}