{% extends "thegame/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the new question page</title>
</head>
<body>

<div class="container p-3 my-5 border">
<form action="{% url 'new_question' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-outline-dark" value="Submit">
</form>
</div>
<br><br>
<div class="container">
    {% for question in questions %}
            <p>{{ question }}</p>
    {% endfor %}
</div>

</body>
</html>

{% endblock content %}